{% extends "layout.html" %}

{% block title %}

<!-- index, list, and location html shares block title -->
<div id="parent1">
    <div id="child1">

        <!-- Subtitle of main page -->
        <h1 id="subtitle_center2">Main</h1>
    </div>
    <div id="child1">

        <!-- this activate logout function which allows users to logout -->
        <div id="child2">
            <form action="{{ url_for('logout') }}">
                <button id="logout_button" class="btn btn-primary">Logout</button>
            </form>
        </div>

        <!-- this section display who current logged in user is -->
        <div id="child2">
            <h2 id="logout_block">Welcome, {{ message }}</h2>
        </div>
    </div>
</div>
{% endblock %}

{% block body %}
    <div id="main_body">
        <h2 id="body_title">Please Enter Zipcode or Name of City</h2>

        <!-- User can input keyword and activate search function to find out matching resutls -->
        <form action="{{ url_for('search') }}" method="post">
            <input type="text" name="search" placeholder="Search">
            <button class="btn btn-primary">Search</button>
        </form>
    </div>
{% endblock %}