{% extends "layout.html" %}

{% block title %}
    Search List
{% endblock %}

{% block body %}

    <table>
        <tr>
            <th>Zip</th>
            <th>City</th>
            <th>State</th>
            <th>Latitude</th>
            <th>Longitude</th>
            <th>Population</th>
        </tr>
        {% for result in result_list %}
        <tr>
            <td><a href="/location/{{ result.zipcode }}">{{ result.zipcode }}</a></td>
            <td>{{ result.city }}</td>
            <td>{{ result.state }}</td>
            <td>{{ result.latitude }}</td>
            <td>{{ result.longitude }}</td>
            <td>{{ result.population }}</td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}