{% extends "layout.html" %}

{% block title %}
    Location
{% endblock %}

{% block body %}

    <table>
        <tr>
            <th>Zip</th>
            <th>City</th>
            <th>State</th>
            <th>Latitude</th>
            <th>Longitude</th>
            <th>Population</th>
        </tr>
        {% for location in location_list %}
        <tr>
            <td>{{ location.zipcode }}</td>
            <td>{{ location.city }}</td>
            <td>{{ location.state }}</td>
            <td>{{ location.latitude }}</td>
            <td>{{ location.longitude }}</td>
            <td>{{ location.population }}</td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}