{% extends "layout.html" %}

{% block title %}
    Location
{% endblock %}

{% block body %}

    <table>
        <tr>
            <th>Zip</th>
            <th>City</th>
            <th>State</th>
            <th>Latitude</th>
            <th>Longitude</th>
            <th>Population</th>
        </tr>
        {% for location in location_list %}
        <tr>
            <td>{{ location.zipcode }}</td>
            <td>{{ location.city }}</td>
            <td>{{ location.state }}</td>
            <td>{{ location.latitude }}</td>
            <td>{{ location.longitude }}</td>
            <td>{{ location.population }}</td>
        </tr>
    </table>
    <form action="{{ url_for('commentPost') }}" method="post" id="post_form">
        <div class="form-group">
            <input type="text" name="comment" placeholder="Leave your comment">
            <input type="hidden" name="zipcode" value="{{ location.zipcode }}">
        </div>
        <div class="form-group">
            <button class="btn btn-outline-primary">Submit</button>
            <a class="btn btn-primary" href="/search" role="button">Cancel</a>
        </div>
    </form>
        {% endfor %}
    <table id="comment_table">
        <tr>
            <th>Comment</th>
        </tr>
        {% for comment in comment_list %}
        <tr>
            <td>{{ comment.comment }}</td>
        </tr>
        {% endfor %}
    </table>
    <p id="summary"></p>
    <table>
        <tr>
            <th>Time</th>
            <th>Summary</th>
            <th>Temperature</th>
            <th>Dew Point</th>
            <th>Humidity</th>
        </tr>
        <tr>
            <td>{{ weather_time }}</td>
            <td>{{ weather_summary }}</td>
            <td>{{ weather_temperature }}</td>
            <td>{{ weather_dewPoint }}</td>
            <td>{{ weather_humidity }}</td>
        </tr>
    </table>
    <p id="comment_exist" style="display: none;">{{ check_list }}</p>
    <script>
        var comment_exist = document.getElementById("comment_exist").innerHTML;

        if (comment_exist == 'yes') {
            document.getElementById("post_form").style.visibility = "hidden";
        } else {
            document.getElementById("comment_table").style.visibility = "hidden";
        }
    </script>
{% endblock %}