{% extends "layout.html" %}

{% block title %}
<div id="parent1">
    <div id="child1">
        <h1 id="subtitle_center2">Location Information</h1>
    </div>
    <div id="child1">
        <div id="child2">
            <form action="{{ url_for('logout') }}">
                <button id="logout_button" class="btn btn-primary">Logout</button>
            </form>
        </div>
        <div id="child2">
            <h2 id="logout_block">Welcome, {{ message }}</h2>
        </div>
    </div>
</div>
{% endblock %}

{% block body %}
    <div id="main_body">
        <h2 id="body_title">City Information</h2>
        <table class="table">
            <tr>
                <th>Zip</th>
                <th>City</th>
                <th>State</th>
                <th>Latitude</th>
                <th>Longitude</th>
                <th>Population</th>
            </tr>
            {% for location in location_list %}
            <tr>
                <td>{{ location.zipcode }}</td>
                <td>{{ location.city }}</td>
                <td>{{ location.state }}</td>
                <td>{{ location.latitude }}</td>
                <td>{{ location.longitude }}</td>
                <td>{{ location.population }}</td>
            </tr>
            {% endfor %}
        </table>
        <table class="table">
            <tr>
                <th>Time</th>
                <th>Summary</th>
                <th>Temperature</th>
                <th>Dew Point</th>
                <th>Humidity</th>
            </tr>
            <tr>
                <td>{{ weather_time }}</td>
                <td>{{ weather_summary }}</td>
                <td>{{ weather_temperature }}&#8457;</td>
                <td>{{ weather_dewPoint }}&#8457;</td>
                <td>{{ weather_humidity }}%</td>
            </tr>
        </table>
        <form action="{{ url_for('commentPost') }}" method="post" id="post_form">
            <div class="form-group">
                <input type="text" name="comment" placeholder="Leave your comment">
                <input type="hidden" name="zipcode" value="{{ current_zipcode }}">
            </div>
            <div class="form-group">
                <button class="btn btn-outline-primary">Submit</button>
                <a class="btn btn-primary" href="/search" role="button">Cancel</a>
            </div>
        </form>
        <table id="comment_table" class="table">
            <tr>
                <th>Username</th>
                <th>Comment</th>
            </tr>
            {% for comment in comment_list %}
            <tr>
                <td>{{ comment.username }}</td>
                <td>{{ comment.comment }}</td>
            </tr>
            {% endfor %}
        </table>
        <p id="comment_exist" style="display: none;">{{ check_list }}</p>
    </div>
    <script>
        var comment_exist = document.getElementById("comment_exist").innerHTML;

        if (comment_exist == 'yes') {
            document.getElementById("post_form").style.visibility = "hidden";
        }
    </script>
{% endblock %}