{% extends "layout.html" %}

{% block title %}
    Login
{% endblock %}

{% block body %}

    <ul>
        {% for note in notes %}
            <li>{{ note }}</li>
        {% endfor %}
    </ul>

    <form action="{{ url_for('loginPost') }}" method="post">
        <div class="form-group">
            <input type="text" name="username" placeholder="ID">
            <input type="text" name="password" placeholder="Password">
        </div>
        <div class="form-group">
            <button class="btn btn-primary">Login</button>
            <a class="btn btn-primary" href="/signUp" role="button">Sign Up</a>
        </div>
    </form>
{% endblock %}