{% extends "layout.html" %}

{% block title %}

    <!-- Success -->
    <h1 id="subtitle_center2">Sign Up</h1>
{% endblock %}

{% block body %}

    <!-- Currently, success page only used for one situation, so unlike error page, I didn't have to pass any variable depends on situation -->
    <div class="alert alert-success" role="alert">
        You created your account. Please go back to login page and login.
    </div>
    <a class="btn btn-primary" href="/" role="button">Go to Login Page.</a>
{% endblock %}